@import "reset";
@import "fonts";
@import "cores";
@import "header";
@import "footer";
@import "modal";


// sessao 1 produto
section.produtoprincipal{
    min-height: 100vh;    
    nav.local{
        padding: 15px 0;
        ul{
            list-style-type: none;
            font-size: 12px;
            li{
                display: inline-block;
                margin: 0 3px;
                
                a{
                    color: $color--nav;
                    text-decoration: none;
                    font-family: $font--gotham;

                }
            }
        }
    }
    
    .produto{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .produto--slider{
            text-align: center;
            width: 10%;
            
            .produto--slider__single{
                filter: grayscale(100%);
                transition: 0.1s;
                &:hover{
                    filter: grayscale(0);
                }
            }          
            img{
                cursor: pointer;                
                max-width: 74px;
                height: 94px;
                border: 3px solid rgba(0,0,0,0);
                background-clip: content-box;
                margin: 5px 0;                               
            }
            p{
                font-size: 12px;                
                font-family: $font--open;
                color: $color--orange;
            }
            .produto--slider__play{
                cursor: pointer;
                width: 31px;
                height: 31px;
                background-image: url('../img/icones/play.png');
                background-size: cover;
                margin: 0 auto;
            }
            .produto--slider__arrowUp{
                cursor: pointer;
                width: 14px;
                height: 8px;
                background-image: url('../img/icones/arrow_c.png');
                background-size: contain;
                background-repeat: no-repeat;
                margin: 10px auto;
            }
            .produto--slider__arrowDown{
                cursor: pointer;
                width: 14px;
                height: 8px;
                background-image: url('../img/icones/arrow_b.png');
                background-size: contain;
                background-repeat: no-repeat;
                margin: 10px auto;
            }
        }

        .produto--slider--grande{
            width: 45%;
            padding-left: 20px;
            
            img{
                height: 556px;
                width: 430px;
            }
        } 
        
        .produto--descricao{            
            width: 45%;
            margin-left: 30px;
            max-width: 444px;
            height: auto;                       
            .produto--descricao--wrapper{
                border: 2px solid #D2E1DF;
                padding: 20px;
            }
            .produto--descricao__titulo{
                h2{
                    text-transform: uppercase;
                    font-size: 26px;
                    line-height: 37px;
                    color: $color--black;
                    font-family: $font--gotham;
                }
                p{
                    font-size: 14px;
                    font-family: $font--open;
                    color: $color--black;
                    line-height: 23px;
                    text-transform: uppercase;
                }
            }
            .produto--descricao__valores{
                margin-top: 15px;
                span{
                    &:nth-child(1){
                        font-family: $font--open;
                        font-size: 14px;
                        line-height: 23px;
                        color: #E35442;
                    }
                    &:nth-child(2){
                        font-family: $font--gotham;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 28px;
                        color: $color--nav;
                    }
                }
                p{
                    font-family: $font--open;
                    font-size: 12px;
                    line-height: 20px;
                    color: #7F7F7F;
                }
            }
            .produto--descricao__cores{
                margin-top: 40px;
                p{
                    font-family: $font--open;
                    font-size: 14px;
                    line-height: 23px;
                    color: $color--black;
                }
                .cores{
                    cursor: pointer;
                    display: inline-block;                    
                    width: 22px;
                    height: 22px;
                    margin: 0 5px;
                    border-radius: 50%;
                    background-color: black;
                    z-index: 2;
                }
                .ativo{
                    border: 3px solid #E0DA9C;
                }
            }
            .produto--descricao__tamanho{
                margin-top: 40px;   
             > span{
                  &:nth-child(1){
                      font-family: $font--open;
                      font-size: 14px;
                      line-height: 23px;
                      color: $color--black;
                  }
                  &:nth-child(2){
                    font-family: $font--open;
                    font-size: 14px;
                    line-height: 23px;
                    color: #5F75AA;
                    margin-left: 20px;
                  }
              }
              a{
                font-family: $font--open;
                font-size: 14px;
                line-height: 23px;
                color: $color--orange;
                margin-left: 150px;
              }  

            .produto--descricao__tamanho__eclipses {
                margin-top: 10px;
                .tamanho{
                    cursor: pointer;
                    text-align: center;                    
                    display: inline-block;
                    width: 34px;
                    line-height: 34px;
                    height: 34px;
                    background-color: #EBEBEB;
                    border-radius: 50%;
                    font-family: $font--gotham;
                    font-weight: 600;
                    font-size: 14px;
                    color: #2A5A75;                    
                }
                .tamanhoativo{
                    background-color: #E0DA9C;
                }
            }         
                
            }

            .produto--descricao__sacola{
                margin-top: 40px;
                a{
                    font-size: 18px;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-family: $font--open;
                    color: #fff;
                    text-align: center;
                    margin: 0 auto;
                    display: block;
                    width: 404px;
                    height: 60px;
                    line-height: 60px;
                    background-color: $color--btn;
                }
            }
            .produto--descricao__descricao{
                margin-top: 20px;
                p{
                    color: $color--black;
                    font-size: 14px;
                    line-height: 29px;
                }
            }
        }        
    }    
}



// section 2 quemViu

section.quemviu{
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    margin-top: 20px;
    h2{
        font-family: $font--gotham;
        font-size: 26px;
        line-height: 37px;
        color: $color--orange;
        text-transform: uppercase;
        text-align: center;
        font-weight: normal;
    }
    .quemviu--produtos{
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    
    .quemviu--produtos__single{
        position: relative;
        img{
            border-right: 7px solid #fff;            
            z-index: 1;             
        }
        .quemviu--produtos__single__plus{
            cursor: pointer;
            position: absolute;
            right: 15px;
            top: 10px;
            z-index: 2;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 1px solid $color--orange;
            background-color: rgba(255,255,255,0.3);
            background-image: url('../img/icones/plus.png');
            background-position: center;
            background-size: 16px 16px;
            background-repeat: no-repeat;
        }

        .quemviu--produtos__single__preco{                        
            span{
                font-family: $font--open;
                font-size: 14px;
                text-transform: uppercase;
                line-height: 26px;
            }
            .quemviu--cores__wrapper{
                display: inline-block;
                margin-left: 150px;               
            }
            .quemviu--cores{             
                cursor: pointer;
                display: inline-block;                    
                width: 13px;
                height: 13px;                
                border-radius: 50%;
                background-color: black;
                z-index: 2;                                
            }
        }
    }
    .quemviu--paginas{
        margin: 20px auto;
        .quemviu--paginas__arrowL{
            display: inline-block;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 1px solid black;
            background-color: rgba(255,255,255,0.7);
            background-image: url('../img/icones/arrow_l.png');
            background-size: 8px 14px;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }
        span{position: relative; top: -14px; margin: 0 10px; font-size: 14px; font-family: $font--open; color: #2A5A75}
        .quemviu--paginas__arrowR{
            display: inline-block;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 1px solid black;
            background-color: rgba(255,255,255,0.7);
            background-image: url('../img/icones/arrow_r.png');
            background-size: 8px 14px;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }
 }
}



//queries
@media screen and (max-width: 1260px){
    section.quemviu .quemviu--produtos{
        display: block;
        text-align: center;
    }
    section.quemviu .quemviu--produtos .quemviu--produtos__single{
        width: 45%;     
        text-align: center;
        display: inline-block;          
    }   
    
    section.quemviu .quemviu--produtos .quemviu--produtos__single .quemviu--produtos__single__plus{
        cursor: pointer;
        position: absolute;
        right:calc(50% - 130px);
        top: 10px;      
    }   
    footer > .container{
        padding-top: 100px
    }
    footer .footer--form{
        position: absolute;
        right: 0;
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 293px;
        height: 293px;       
    }    
}

@media screen and (max-width: 1120px){
    section.produtoprincipal .produto{
        display: flex;
        text-align: center;
    }

    section.produtoprincipal .produto .produto--slider{        
        width: 20%;       
    }
    section.produtoprincipal .produto .produto--slider--grande{               
        width: 80%;
        margin: 0 auto;
    }

    section.produtoprincipal .produto .produto--descricao{
        margin: 20px auto;        
    }
    section.produtoprincipal .produto .produto--descricao .produto--descricao__tamanho a{
        margin-left: 2px;
    }

    section.produtoprincipal .produto .produto--descricao .produto--descricao__sacola a{
        width: 80%;
    }
}

@media screen and (max-width: 880px){
    header nav.desktop{
        display: none;
    }
    header nav.mobile ul{
        display: none;
    }
    header .mobile--menuhamb{        
        display: block;          
    }
    header .mobile--menuhamb__wrapper{        
        display: block;
    }
    
    header nav.mobile{
        display: block;  
    }
    footer .footer--footer{
        padding-left:0;
        padding: 5px;
        text-align: center; 
        height: auto;       
    }
    footer .footer--footer .footer--footer__endereco{
        width: 100%;
    }  
    footer .footer--footer .footer--footer__logo .footer--logo{
        display: none;
    }
    
}

@media screen and (max-width: 720px){
    section.quemviu .quemviu--produtos .quemviu--produtos__single{
        width: 100%;     
        text-align: center;
        display: inline-block;          
    }
    footer > .container{
        padding-top: 130px
    }  

    footer .footer--informacoes{
        flex-flow: column;
        align-items: center;
    }

}



@media screen and (max-width: 650px){
    section.produtoprincipal .produto .produto--descricao .produto--descricao__sacola a{
        font-size: 12px;
    }
    section.produtoprincipal .produto .produto--slider--grande img{
        height: 500px;
        width: 300px;
    }
}

@media screen and (max-width: 500px){
    section.produtoprincipal .produto .produto--descricao .produto--descricao__titulo h2{
        font-size: 20px;
    }
    section.produtoprincipal .produto .produto--slider--grande img{
        height: 400px;
        width: 200px;
        margin-top: 80px;
    }
    section.produtoprincipal .produto .produto--descricao{                    
        width: 90%;
        margin: 50px auto;
        max-width: 444px;
        height: auto; 
    }
}

@media screen and (max-width: 370px){
    section.produtoprincipal .produto .produto--descricao .produto--descricao__titulo h2{
        font-size: 17px;
    }

    section.produtoprincipal .produto .produto--slider--grande img{
        height: 400px;
        width: 180px;
        border: 5px solid white;
        margin-top: 80px;
    }

    footer .footer--form{
        position: absolute;
        right: 0;
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 253px;
        height: 253px;       
    }
    footer .footer--form input[type=submit]{
        width: 70px;
        height: 30px;
    }

    section.quemviu .quemviu--produtos .quemviu--produtos__single img{
        max-width: 95%;
        max-height: 95%;
    }

    section.quemviu .quemviu--produtos .quemviu--produtos__single .quemviu--produtos__single__plus{
        right: calc(50% - 100px);
    }
    
}

