.contact {
  margin-top: 3rem;
  padding: 0.25rem 0;
  background-color: #DE8F75;
  color: #fff; }
  .contact__address {
    margin-bottom: 0; }
  .contact__logo {
    display: block;
    padding: 1rem;
    margin: 0 auto; }
