@import "src/assets/scss/shared/variables.scss";

.contact {
  margin-top: 3rem;
  padding: 0.25rem 0;
  background-color: $primary;
  color: $white;

  &__address{
    margin-bottom: 0;
  }

  &__logo {
    display: block;
    padding: 1rem 1rem 0.25rem;
    margin: 0 auto;

    @include media-breakpoint-up(lg) {
      padding: 1rem;
    }
  }
}