@import "src/assets/scss/shared/variables.scss";

.newsletter{
  margin: -5rem auto 0;
  max-width: 18rem;

  &__circle {
    position: relative;
    width: 100%;
    border: 2px solid $complement-1;
    border-radius: 100%;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }

  &__form {
    text-align: left;

    &-heading {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: bold;
    }

    &-control {
      margin-bottom: 0.5rem;
    }

    &-label {
      margin-bottom: 0;
    }

    &-button {
      color: $white;
    }
  }
}