.sitemap {
  margin: 2rem 0; }
  .sitemap__heading {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #AEB6C1;
    font-weight: bold; }
  .sitemap__list-item {
    margin: 1rem 0; }
    .sitemap__list-item:first-child {
      margin-top: 0; }
    .sitemap__list-item-link {
      color: #202020; }
