.colors {
  margin: 1.75rem 0;

  &__list {
    margin-bottom: 0;
    
    &-item {
      &:not(:last-child) {
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
        padding-right: 0.25rem;
      }
    }
  }

  &__button {
    border: 0 none;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    cursor: pointer;
  }

  &__description{
    &-name {
      margin-left: 0.25rem;
    }
  }
}