@import "src/assets/scss/shared/variables.scss";

.colors {
  margin: 1.75rem 0;

  &__list {
    margin-bottom: 0;
    
    &-item {
      margin-bottom: 0.25rem;
      
      &:not(:last-child) {
        margin-right: 0.25rem;
        padding-right: 0.25rem;
      }
    }
  }

  &__button {
    border: 0 none;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    cursor: pointer;

    &:focus,
    &:active,
    &--active {
      box-shadow: 0 0 0 5px $complement-2;
    }
  }

  &__description{
    &-name {
      margin-left: 0.8rem;
    }
  }
}