.colors {
  margin: 1.75rem 0; }
  .colors__list {
    margin-bottom: 0; }
    .colors__list-item {
      margin-bottom: 0.25rem; }
      .colors__list-item:not(:last-child) {
        margin-right: 0.25rem;
        padding-right: 0.25rem; }
  .colors__button {
    border: 0 none;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    cursor: pointer; }
    .colors__button:focus, .colors__button:active, .colors__button--active {
      box-shadow: 0 0 0 5px #E0DA9C; }
  .colors__description-name {
    margin-left: 0.8rem; }
