@import "src/assets/scss/shared/variables.scss";

.info {
  &:before,
  &:after {
    content: '';
    display: block;
    height: 4px;
    background-color: $complement-2;
    width: 100vw;
    position: relative;
    z-index: -1;
  }

  &:before {
    left: 0;
    bottom: -2rem;
  }

  &:after {
    right: 100vw;
    top: -2rem;
  }

  &__card {
    border-width: 2px;
    border-color: $info-border;
  }

  &__heading {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__list {
    margin-bottom: 1rem;
    
    &-item {
      &:not(:last-child) {
        margin-right: 0.65rem;
        padding-right: 0.65rem;
        border-right: 1px solid $gray-700;
      }
    }
  }

  &__cart {
    margin: 2rem 0 1rem;
  }
}