.info__card {
  border-width: 2px;
  border-color: #AEB6C1; }

.info__heading {
  text-transform: uppercase;
  font-weight: bold; }

.info__list {
  margin-bottom: 2.5rem; }
  .info__list-item:not(:last-child) {
    margin-right: 0.65rem;
    padding-right: 0.65rem;
    border-right: 1px solid #686868; }

.info__cart {
  margin: 2rem 0 1rem; }
