.media {
  text-align: center;
  padding: 0.75rem 0 0.25rem; }
  .media__video-button {
    background: url("assets/img/product/video.svg") center bottom 0.25rem no-repeat transparent scroll;
    padding-bottom: calc(32px + 0.5rem);
    border: 0 none;
    display: block;
    width: 100%;
    cursor: pointer;
    color: #DE8F75;
    margin-bottom: 0.5rem; }
  .media__gallery-list-item:not(:last-child) {
    margin-bottom: 0.5rem; }
  .media__gallery-button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
    padding: 0; }
