@import "src/assets/scss/shared/variables.scss";

.payments {
  margin: 0 0 2rem;
  
  &__list {
    margin: 0;

    &-item {
      &:not(:last-child) {
        margin-right: 0.65rem;
        padding-right: 0.65rem;
        border-right: 1px solid $red;
      }
    }
  }

  &__old-price {
    color: $red;
  }

  &__price {
    font-size: 1.35rem;
    font-weight: bold;
    color: $gray-700;
  }

  &__instalments {
    color: $gray-600;
  }
}