.sizes {
  margin: 1.75rem 0; }
  .sizes__list {
    margin-bottom: 0; }
    .sizes__list-item:not(:last-child) {
      margin-right: 0.25rem;
      margin-bottom: 0.25rem;
      padding-right: 0.25rem; }
  .sizes__button {
    border: 0 none;
    width: 2.125rem;
    height: 2.125rem;
    border-radius: 100%;
    cursor: pointer;
    background-color: #EBEBEB;
    color: #2A5A75; }
    .sizes__button:focus, .sizes__button:active, .sizes__button--active {
      background-color: #E0DA9C;
      font-weight: bold; }
  .sizes__description-name {
    margin-left: 0.8rem; }
