.Header{
    background-color: #fff;
}

.top-header{
    height: 86px;
}

.bottom-head-nav{
    height: 50px;
    border-color: #ccc;
    border-width: 1px 0px;
    border-style: solid;

    
    .login-listing, .search-container{
        width: 320px;
    }

    .nav-listing{
        width: 754px;

        a{
            transition: 0.2s ease;

            &:hover{
                background-color: #fff;
                
                + .CategoryModal{
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
    }

    .head-search{
        transition: 0.3s ease;
        width: 83px;
        border-color: #ccc;
        border-width: 0px 0px 1px 0px;
        border-style: solid;

        input{
            transition: 0.3s ease;
            width: 41px;
            height: 36px;
        }

        &.active{
            width: 200px;

            input{
                transition: 0.3s ease;
                width: 180px;
                height: 36px;
            }
        }
    }
}