@import "src/assets/scss/shared/variables.scss";

.header {
  margin-bottom: 1rem;

  &__logo {
    border-bottom: 1px solid $gray-400;

    &-heading {
      text-align: center;
    }

    &-img {
      margin: 1.5rem auto;
    }
  }

  &__subheader {
    border-bottom: 1px solid $gray-400;
  }
}

@import "src/assets/scss/header/menu.scss";
@import "src/assets/scss/header/login.scss";
@import "src/assets/scss/header/search.scss";
@import "src/assets/scss/header/cart.scss";