@import "src/assets/scss/shared/variables.scss";

.menu {
  position: relative;

  &__wrapper {
    overflow-x: auto;
    text-align: center;
    position: relative;
  }

  &__list {
    margin: 0;
    white-space: nowrap;
    
    &-item {
      margin: 0;

      &:not(:last-child) {
        margin-right: 0;
      }

      &-link {
        padding: 1rem 1.5rem;
        text-transform: uppercase;
        display: inline-block;
        color: $gray-700;
        font-family: $headings-font-family;

        &:hover,
        &:focus,
        &:active {
          background-color: $gray-100;
          color: $primary;
        }
      }
    }
  }
}