@import "src/assets/scss/shared/variables.scss";

.submenu {
  width: 100%;
  background-color: $white;
  border-bottom: 1px solid $gray-400;
  position: absolute;
  animation-duration: 0.3s;
  animation-name: slide-down;
  animation-timing-function: ease-out;

  &__wrapper {
    position: relative;
    z-index: 1;
  }

  &__item {
    padding: 1rem 0;
  }

  &__heading {
    text-transform: uppercase;
    font-weight: bold;
    word-break: break-all;
    text-align: right;
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 0;
    color: $complement-2;
    font-kerning: none;
    -webkit-text-stroke: 2px $complement-4;
  }

  &__list {
    border-left: 2px solid $complement-1;
    margin-bottom: 0;
    padding-left: 1rem;

    &-item {
      padding: 0.75rem 1rem;
    }
  }

  .row:not(:last-child) {
    display: none;
  }
}

@keyframes slide-down {
  from {
    margin-top: -1rem;
    opacity: 0;
  }

  to {
    margin-top: 0;
    opacity: 1;
  }
}