.submenu {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #CCCCCC;
  position: absolute;
  animation-duration: 0.3s;
  animation-name: slide-down;
  animation-timing-function: ease-out; }
  .submenu__wrapper {
    position: relative;
    z-index: 1; }
  .submenu__item {
    padding: 1rem 0; }
  .submenu__heading {
    text-transform: uppercase;
    font-weight: bold;
    word-break: break-all;
    text-align: right;
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 0;
    color: #E0DA9C;
    font-kerning: none;
    -webkit-text-stroke: 2px #2A5A75; }
  .submenu__list {
    border-left: 2px solid #AEB6C1;
    margin-bottom: 0;
    padding-left: 1rem; }
    .submenu__list-item {
      padding: 0.75rem 1rem; }
  .submenu .row:not(:last-child) {
    display: none; }

@keyframes slide-down {
  from {
    margin-top: -1rem;
    opacity: 0; }
  to {
    margin-top: 0;
    opacity: 1; } }
