.menu {
  padding: 0.5rem 0;

  &__list {
    margin: 0;
    
    &-item {
      margin: 0.5rem 1.5rem;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      &-link {
        text-transform: uppercase;
        color: $gray-700;
      }
    }
  }
}