.header .menuList{
  font-family: Gotham Book;
  border: 1px solid #CCCCCC;
}
.header .menuList a,
.header .menuList span{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #686868;
  text-decoration: none;
  margin: 0 10px 0 0;
}
.header .busca{
  margin-right: 23px;
}
.header #badges{
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #686868;
}
.header ul{
  margin: 0;
  padding: 0;
}
.header ul li{
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  color: #686868;
  margin: 0 35px;
  cursor: pointer;
}
.header label{
  width: 83px;
  border-bottom: 1px solid rgba(104, 104, 104, 0.4);
  padding-bottom: 7px;
  box-sizing: border-box;
  cursor: pointer;
}
.header input{
  border: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #686868;
  width: calc(83px - 45px);
  margin-left: 17px;
  outline: none;
}
