@font-face {
    font-family: gotham-book;
    src: url(../fonts/gotham-book.otf);
}
*{
  padding: 0;
  margin: 0;
  font-family: "gotham-book", sans-serif;
}
.container{
  width: 95%;
  margin: 0 auto;
  max-width: 1920px;
}
.menu #logo{
  text-align: center;
  padding: 24px 0;
  border-bottom: 1px solid #CCCCCC;
  box-sizing: border-box;
}
.menu .burguer{
  display: none;
}
#list-menu{
  border-bottom: 1px solid #CCCCCC;
  padding: 7px 0;
  box-sizing: border-box;
}
#list-menu .container{
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}
.cat-itens .cat-itens-content{
  display: flex;
  justify-content: space-between;
}
.cat-itens .cat-itens-content li{
  list-style: none;
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 14px;
}
.cat-itens .cat-itens-content li a{
  display: block;
  padding: 10px;
  position: relative;
}
.cat-itens .cat-itens-content li a:after{
  content: " ";
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #686868;
  bottom: 0;
  left: 0;
  transition: .5s;
}
.cat-itens .cat-itens-content li:hover a:after{
  width: 100%;
}
.menu a{
  text-decoration: none;
  color: #686868;
}
.login-itens a{
  font Family: Open Sans;
  font Style: Regular;
  font Size: 12px;
  line Height: 20px;
  color: #686868;
  position: relative;
  padding: 10px;
}
.login-itens a:after{
  content: " ";
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #686868;
  bottom: 0;
  left: 0;
  transition: .5s;
}
.login-itens a:hover:after{
  width: 100%;
}
.login-itens span{
  margin: 0 10px;
  color: #686868;
}
.search-itens{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-itens input{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font Family: "Open Sans";
  font Style: regular;
  font Size: 12px;
  line Height: 20px;
  align: center;
  width: 100%;
  text-indent: 3ch;
  padding-bottom: 5px;
  outline: none;
  width: 83px;
  transition: .5s;
}
.search-itens input:focus{
  width: 250px;
}
.search-item-input{
  position: relative;
  margin-right: 20px;
}
.search-item-input svg{
  position: absolute;
  top: -2px;
}
.search-itens > a{
  line-height: -1px;
  font Family: "gotham-book";
  font Size: 12px;
  line Height: 17px;
}
.cat-itens-access{
  padding: 10px;
  font-size: 14px;
}
.cat-itens-access a{
  text-decoration: none;
  color: #AEB6C1;
}
.cat-itens-access span{
  font Family: Gotham Bold, Open Sans;
  font-weight: bolder;
  color: #AEB6C1;
}
.product{
  display: flex;
  justify-content: space-between;
}
.video{
  display: flex;
  flex-direction: column;
  width: 74px;
  height: 94.3px;
  text-align: center;
}
.video a{
  text-decoration: none;
  font Family: Open Sans;
  font Size: 12px;
  line Height: 20px;
  align: Center;
  fill: Solid;
  color: #DE8F75;
}
.video svg{
  margin: 0 auto;
}
.swiper-button-prev{
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJCAYAAAACTR1pAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABOSURBVHgBlZHRCQAgCERvhEZwBEdtU0coCz8kEvXgQNQHcgKxhprQFKvFzF1omUuwh+SpuQpx0EuhdEbIT/rCE7UQPHyY+6+JWuxku2MDjesnD1FLFmYAAAAASUVORK5CYII=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 14px;
  height: 8.64px;
}
.swiper-button-next{
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJCAYAAAACTR1pAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABSSURBVHgBlZFLDQAgDEMrAQlIQCIOwCkSoIdxIfvR5F2gb1kyACikk4o4jQxxMMkmSz48aUl3vg+WbHY8ORysFTLbqHJK0uS09Mpf0k2F3EvLATyRJw44A33lAAAAAElFTkSuQmCC");;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 14px;
  height: 8.64px;
}


/* RESPONSIVE */

@media screen and (max-width: 910px) {
  .menu{
    position: relative;
  }
  .menu .burguer{
    display: block;
    width: 40px;
    height: 22px;
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
  }
  .burguer .top,
  .burguer .middle,
  .burguer .bottom{
    width: 100%;
    height: 2px;
    background-color: #de8f75;
    position: absolute;
  }
  .burguer .top{
    top: 0;
    transition: .5s;
  }
  .burguer .middle{
    top: 10px;
    transition: .5s;
    transition-delay: .3s;
  }
  .burguer .bottom{
    top: 20px;
    transition: .5s;
  }
  .menu-active .burguer .top{
    width: 0;
  }
  .menu-active .burguer .middle{
    transform: rotate(45deg);
  }
  .menu-active .burguer .bottom{
    transform: rotate(-45deg);
    top: 11px;
  }
  #list-menu{
    position: fixed;
    width: 100%;
    left: -100%;
    transition: .5s;
  }
  .menu-active #list-menu{
    left: 0;
    background-color: #fff;
  }
  #list-menu .container{
    display: block;
    width: 100%;
  }
  .login-itens{
    transform: scale(2);
    opacity: 0;
    transition: .5s;
  }
  .menu-active .login-itens{
    transform: scale(1);
    opacity: 1;
    transition: .5s;
    transition-delay: .7s;
  }
  #list-menu .container div{
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: scale(2);
  }
  .menu-active #list-menu .container div{
    opacity: 1;
    transform: scale(1);
    transition: .5s;
    transition-delay: .8s;
  }
  .cat-itens .cat-itens-content{
    display: block;
    margin: 20px;
  }
  .cat-itens .cat-itens-content li{
    margin: 20px 0;
  }
  .search-itens{
    display: block;
  }
  .search-item-input{
    margin: 20px 0;
  }
  .search-itens input{
    width: 100px;
    text-indent: 1ch;
    font-size: 14px;
  }
}

/* END RESPONSIVE */
