.produto{
  margin-top: 26px;
}
.produto .produtoImgs{
  flex: 1;
}
.produto .video{
  cursor: pointer;
}
.produto .video p{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #DE8F75;
  margin: 0;
}
.produto .swiper-container{
  margin: 0;
  height: calc(556px - 123px);
}
.produto .swiper-button-next,
.produto .swiper-button-prev{
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 14px;
  height: 8px;
  margin: 0;
  outline: none;
  background-size: 14px 8px;
}
.produto .swiper-container .swiper-wrapper img{
  height: 100%;
}
.produto .swiper-button-next,
.produto .swiper-container-rtl .swiper-button-prev {
    background-image: url(../imgs/next.svg);
}
.produto .swiper-button-prev,
.produto .swiper-container-rtl .swiper-button-next {
    background-image: url(../imgs/prev.svg);
}

/* ProdutoImage */
.produto .produtoImage img{
  height: 100%;
  width: 100%;
}
.produto .produtoImage{
  margin: 0 106px 0 64px;
  flex: 3;
}
/* Fim ProdutoImage */

/* ProdutoDetail */
.produtoDetail{
  background: #FFFFFF;
  border: 2px solid #D2E1DF;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 21px 19px 15px 19px;
  flex: 3;
}
.produtoDetail h1{
  font-family: Gotham Book;
  font-weight: bold;
  font-size: 26px;
  line-height: 37px;
  text-transform: uppercase;
  color: #202020;
}
.produtoDetail .codProd{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: #202020;
  margin: 0;
}
.produtoDetail .off-price{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
}
.produtoDetail .flex p{
  margin-bottom: 0;
}
.produtoDetail .price{
  font-family: Gotham Book;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  color: #686868;
  margin-left: 11px;
}
.produtoDetail .parcelas{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #7F7F7F;
  margin: 0;
}
.produtoDetail h4{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: #202020;
}
.produtoDetail .fucsia{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: #5F75AA;
  margin-left: 10px;
}
.produtoDetail .paleta-cores input{
  display: none;
}
.produtoDetail .paleta-cores input:checked ~ label .circle{
  box-shadow: 0px 0px 0px 5px #E0DA9C;
}
.produtoDetail .paleta-cores label .circle{
  width: 22px;
  height: 22px;
  background-color: red;
  border-radius: 50%;
  margin-right: 9px;
}
.produtoDetail .link{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  text-align: right;
  text-decoration-line: underline;
  color: #DE8F75;
}
/* Fim ProdutoDetail */
