.container {
    width: 90%;
}

.menu {
    background-color: #fff;
    border-top: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
}

.menu ul li,
.menu ul li a {
    color: #686868 !important;
}

.logo {
    margin: 20px 0;
}

.itens {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.img-destaque {
    width: 430px;
    height: 556px;
    margin-left: 40px;
}

.produto__video {
    position: relative;
    text-align: center;
}

.produto__video--titulo {
    color: #DE8F75;
    font-size: 12px;
}

.produto {
    border: 2px solid #D2E1DF;
    border-radius: 4px;
    margin: 0 0 0 40px !important;
}

.produto__informacoes {
}

.produto__informacoes--titulo {
    color: #202020;
    /* font-family: 'Gotham Bold'; */
    font-weight: bold;
    font-size: 26px;
    line-height: 37px;
    text-transform: uppercase;
}

.produto__informacoes--codigo {
    color: #202020;
    /* font-family: 'Open-Sans'; */
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
}

.produto__informacoes--preco {
    color: #E35442;
    font-size: 14px;
    line-height: 23px;
}

.produto__informacoes--preco-normal {
    text-decoration: line-through;
}

.produto__informacoes--preco-desconto {
    color: #686868;
    font-size: 28px;
    font-weight: bold;
    line-height: 28px;
    margin-left: 10px;
}

.produto__informacoes--preco-parcelado {
    color: #7F7F7F;
    font-size: 12px;
    line-height: 20px;
    clear: both;
}

.produto__informacoes--cores {
    margin-bottom: 20px;
}

.produto__informacoes--cores-texto,
.produto__informacoes--tamanhos-texto  {
    color: #202020;
    font-size: 14px;
    line-height: 23px;
}

.produto__informacoes--cores-texto span,
.produto__informacoes--tamanhos-texto span {
    color: #5F75AA;
}

.produto__informacoes--cores-opcoes {
    display: flex;
}

.produto__informacoes--cores-opcoes li {
    margin: 5px;
}
.produto__informacoes--cores-opcoes img:hover {
    border: 4px solid #E0DA9C;
    border-radius: 50%;
    position: relative;
    top: -4px;
    margin-right: -4px;
    margin-bottom: -8px;
    margin-left: -4px;
    cursor: pointer;
}

.produto__informacoes--tamanhos {
    margin-bottom: 40px;
}

.produto__informacoes--tamanhos-texto li:first-child {
    float: left;
}

.produto__informacoes--tamanhos-texto li:last-child {
    float: right;
    color: #DE8F75;
    text-decoration: underline;
    margin-right: 2px;
    cursor: pointer;
}

.produto__informacoes--tamanhos-opcoes {
    clear: both;
    display: flex;
    justify-content: space-between;
}

.produto__informacoes--tamanhos-opcoes li {
    height: 34px;
    width: 34px;
    background-color: #EBEBEB;
    border-radius: 50%;
    display: inline-block;
}

.produto__informacoes--tamanhos-opcoes li:hover {
    background-color: #E0DA9C;
    font-weight: bold;
    cursor: pointer;
}

.produto__informacoes--tamanhos-opcoes p {
    color: #2A5A75;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    position: relative;
    top: -8px;
}

.modal {
    width: 400px;
    overflow: hidden;
}

.fechar:hover {
    transform-origin: center;
    transition-duration: .6s;
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
}

.modal-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 50px !important;
}

.modal .modal-footer {
    padding: 0;
    margin-bottom: -15px;
}

.adicionado {
    color: #DE8F75;
    font-size: 22px;
    text-transform: uppercase;
    margin: 2px 0;
}

.continuar-compra {
    color: #AEB6C1;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
    margin: 10px 0 20px;
}

.continuar-compra:hover {
    text-decoration: underline;
}

.busca {
    position: relative;
}

.busca input::placeholder {
    color: #686868;
    position: relative;
    left: 40px;
}

.busca input[type=text] {
    width: 83px;
    margin: 8px 0;
    outline: none;
    margin-right: 20px;
    transition: .3s;
    border-bottom: 1px solid rgba(104, 104, 104, 0.4);
    height: 36px;
    top: -4px;
    position: relative;
    font-size: 14px;
}
  
.busca .inputWithIcon {
    position: relative;
    margin-left: 80px;
}
  
.busca .inputWithIcon img {
    position: absolute;
    left: 0;
    top: 6px;
    padding: 6px 2px;
    transition: .3s;
}
  
.busca .inputWithIcon input[type=text]:focus + img {
    display: none;
}

.sacola {
    position: relative;
    top: -3px;
}

.sacola ul li {
    font-family: cursive;
    position: absolute;
    top: 4px;
    right: 15px;
}

.categoria {
    color: #AEB6C1;
    font-size: 12px;
}

.categoria span {
    font-weight: bold;
}

.galeria__titulo {
    display: block;
    color: #DE8F75;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 60px 0 10px;
    width: 100%;
}

.galeria__produtos img {
    width: 100%;
}

.rodape {

}

.rodape__redes-sociais {

}

.rodape__outros {
    display: flex;
    align-items: center;
    position: relative;
    top: -50px;
}

.rodape__outros--selos {
    display: flex;
    justify-content: space-around;
}

.rodape__outros--links li {
    font-size: 14px;
    margin-bottom: 20px;
}

.rodape__outros--links li a {
    color: #202020;
    text-decoration: none;
}

.rodape__outros--links li:first-child {
    color: #AEB6C1;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.rodape__outros--assine li {
    color: #202020;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: -10px;
}

.rodape__outros--assine .btn {
    background-color: #DE8F75;
    font-size: 14px;
}

.page-footer {
    border-top: 2px solid #AEB6C1; 
    padding-top: 10px;
    margin-top: 120px;  
}

.zoom {
    padding: 50px;
    background-color: #fff;
    transition: transform .2s;
    margin: 0 auto;
    border-radius: 50%;
}

.zoom:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
    border: 2px solid #AEB6C1;
    height: 280px;
    position: relative;
    top: -50px;
    transition: linear .2s;
    transition: color .2s linear, -webkit-transform .2s linear;
    transition: transform .2s linear, color .2s linear;
    transition: transform .2s linear, color .2s linear, -webkit-transform .2s linear;
    -webkit-transform-origin: center;
    transform-origin: center;
}

.endereco {
    font-size: 12px;
}



.image-container {
    float: left;
}



.ubislider.ecommerce.left {
    float: left;
    width: 5pc;
    height: 25.5pc;
}
.ubislider.ecommerce {
    position: relative;
    margin: 8px 0 0;
    padding: 2px 0 5px;
    width: 21pc;
}
.ubislider {
    margin: 0 0;
    padding: 24px 0 20px;
    overflow: hidden;
}
.ubislider .arrow.prev {
    left: -30px;
}
.ubislider .arrow.pasive {
    background-color: #ccc;
    color: #f7f7f7;
}
.ubislider .arrow {
    position: absolute;
    width: 25px;
    height: 60px;
    top: 50%;
    margin: -30px 0 0;
    line-height: 60px;
    font-size: 20px;
    color: #f7f7f7;
    overflow: hidden;
    cursor: pointer;
    display: block;
    text-align: center;
    background-color: #949292;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ubislider .arrow.next {
    right: -30px;
}
.ubislider .arrow {
    position: absolute;
    width: 25px;
    height: 60px;
    top: 50%;
    margin: -30px 0 0;
    line-height: 60px;
    font-size: 20px;
    color: #f7f7f7;
    overflow: hidden;
    cursor: pointer;
    display: block;
    text-align: center;
    background-color: #949292;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ubislider.ecommerce .ubislider-inner {
    overflow: initial;
}
.ubislider .ubislider-inner {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    left: 0;
    top: 0;
    width: 100000000000%;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.ubislider.ecommerce .ubislider-inner li {
    width: 74px;
    height: 94.3px;
    margin-bottom: 8px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.ubislider .ubislider-inner li {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    position: relative;
    float: left;
    width: 200px;
    margin: 0 9pt 0 0;
    display: block;
    overflow: hidden;
}
.ubislider.ecommerce .ubislider-inner li img {
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}