@import '@/../node_modules/bootstrap/scss/bootstrap';
@import '@/../node_modules/bootstrap-vue/src/index.scss';
@font-face {
  font-family: $primary-font;
  src: url('./fonts/' + $primary-font-importurl);
}
/* quebrando o padrão estabelecido nos parâmetros porque decidiram usar uma fonte com faces não unidas em um arquivo */
@font-face {
  font-family: $primary-font;
  src: ('./fonts/gothambold.otf');
  font-weight: bold;
}
@import url($secondary-font-importurl);
@import url($cart-font-importurl);

* {
  letter-spacing: 1px;
  color: inherit;
}

body {
  background-color: $bg-color;
}

.page-block {
  width: 100%;
  max-width: 1600px;
}

.flexCenterRow {
  @include flexCenter(row);
}

.flexCenterCol {
  @include flexCenter(column);
}

a {
  color: inherit;
  text-decoration: none;
  background: none;
  transition: all 0.6s ease;
  &:hover {
    text-decoration: none;
    color: $primary-color !important;
  }
}

.primaryFont {
  font-family: $primary-font !important;
}

.secondaryFont {
  font-family: $secondary-font !important;
}

.textInputContainerWIcon {
  @include textInputContainer(true);
}

.textInputContainer {
  @include textInputContainer(false);
}

.textInputIcon {
  position: absolute;
  top: -5px;
  left: 0px;
}

/* Sobrescrevendo bootstrap */
.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  box-shadow: none;
  &:hover {
    border-color: rgba($primary-color, 0.8);
    background-color: $primary-color;
    box-shadow: -1px 2px 10px 4px rgba($primary-color, 0.75);
  }
  &:not(:disabled):not(.disabled):active {
    border-color: rgba($primary-color, 1);
    background-color: $primary-color;
    box-shadow: 1px 1px 1px 1px rgba($primary-color, 0.75);
    outline: none;
  }
  &:focus {
    border-color: rgba($primary-color, 1);
    background-color: $primary-color;
    box-shadow: 1px 1px 5px 1px rgba($primary-color, 0.75);
  }
  &:not(:disabled):not(.disabled):active:focus {
    border-color: rgba($primary-color, 1);
    background-color: $primary-color;
    box-shadow: 1px 1px 1px 1px rgba($primary-color, 0.75);
  }
}

.text-primary {
  color: $primary-color !important;
}

.interactible {
  cursor: pointer;
}

.btn-primary-transparent {
  background-color: transparent;
  border-color: $primary-color;
  box-shadow: none;
  &:hover {
    border-color: rgba($primary-color, 0.8);
    box-shadow: -1px 2px 10px 4px rgba($primary-color, 0.75);
  }
  &:not(:disabled):not(.disabled):active {
    border-color: rgba($primary-color, 1);
    box-shadow: 1px 1px 1px 1px rgba($primary-color, 0.75);
    outline: none;
  }
  &:focus {
    border-color: rgba($primary-color, 1);
    box-shadow: 1px 1px 5px 1px rgba($primary-color, 0.75);
  }
  &:not(:disabled):not(.disabled):active:focus {
    border-color: rgba($primary-color, 1);
    box-shadow: 1px 1px 1px 1px rgba($primary-color, 0.75);
  }
}

@import "./transitions";
