$primary-color: rgb(222,143,117);
$canceled-color: rgb(227,84,66);
$actionable-color: rgb(50,145,123);
$secondary-actionable-color: rgb(95,117,170);
$highlight-yellow: rgb(224,218,156);
$dividers-color: rgb(204,204,204);
$main-font-color: rgb(32,32,32);
$soft-font-color: rgb(104,104,104);
$softer-font-color: rgb(127,127,127);
$faded-font-color: rgb(174,182,193);
$main-darkbg-font-color: rgb(255,255,255);

$primary-font: "Noto Sans";
$primary-font-importurl: "https://fonts.googleapis.com/css?family=Noto+Sans&display=swap";
$secondary-font: "Open Sans";
$secondary-font-importurl: "https://fonts.googleapis.com/css?family=Open+Sans&display=swap";

