.btn {
  border-radius: 3px; }
  .btn.min {
    padding: 17px 29px; }
  .btn.animated {
    transition: 0.15s ease;
    border: 2px solid #DE8F75;
    background-color: transparent;
    padding: 12px 38px; }
    .btn.animated:hover {
      background-color: #DE8F75; }
      .btn.animated:hover span {
        color: #fff; }
