.product-nav-item {
  transition: 0.1s ease;
  width: 74px;
  margin-bottom: 9px; }
  .product-nav-item:nth-last-child(2) {
    margin-bottom: 0px; }
  .product-nav-item.inactive {
    opacity: 0.5; }

.ProductDetails {
  width: 400px;
  border: 2px solid #d2e1df; }

.color-item {
  width: 22px;
  height: 22px;
  border: 6px solid #fff;
  margin-right: 1px; }
  .color-item.active {
    border: 6px solid #E0DA9C; }

.size-item {
  width: 34px;
  height: 34px;
  background-color: #EBEBEB; }
  .size-item.active {
    font-family: "GothamBold";
    background-color: #E0DA9C; }
